.backButtonColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 8px;
  background-color: #f9fafb;
  border-right: 1px solid #e5e7eb;
  min-width: 60px;
  width: 60px;
  justify-content: space-around;
  color: #787878;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  transition: transform 0.3s ease-in-out;
}
.backButtonColumn.closed {
  transform: translateX(-100%);
}
.backButtonInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  gap: 8px;
  transition:
    transform 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
.backButtonColumn:hover .backButtonInner {
  transform: translateX(-5px);
  color: #000;
}
.flowsPanel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: white;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}
.flowsPanel.slideIn {
  transform: translateX(0);
}
.flowsPanel.slideOut {
  transform: translateX(100%);
}
.sidebarContent {
  flex: 1;
  padding: 16px;
  padding-left: 76px;
  overflow-y: auto;
  transition: padding-left 0.3s ease-in-out;
}
.backButtonColumn.closed + .sidebarContent {
  padding-left: 16px;
}
.minimapContainer {
  margin-bottom: 16px;
  padding: 12px;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}
.minimapContainer:hover {
  border-color: #4b5563;
  box-shadow: 0 2px 8px rgba(59, 130, 246, 0.1);
}
.minimapContainer.active {
  border-color: #4b5563;
  background-color: #7878780d;
}
.minimapTitle {
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #1f2937;
}
.minimapTitle input {
  border: 1px solid #d1d5db;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
.minimapWrapper {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.addButtonContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  margin-top: 16px;
}

.addButton {
  width: auto;
  padding: 12px;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s;
  width: 100%;
  flex: 1;
}
.addButton:hover {
  background-color: #dbdada;
}

.dropdownWrapper {
  position: relative;
}

.dropdownButton {
  padding: 12px 10px;
  background-color: #f3f4f6;
  color: #6b7280;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdownButton:hover {
  background-color: #dbdada;
  color: #4b5563;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 140px;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: all 0.3s ease;
}

.dropdownMenu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdownMenu button {
  display: block;
  width: 100%;
  padding: 10px 16px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdownMenu button:first-child {
  border-radius: 6px 6px 0 0;
}

.dropdownMenu button:last-child {
  border-radius: 0 0 6px 6px;
}

.dropdownMenu button:hover {
  background-color: #f3f4f6;
}
